$themeColor: rgba(230, 105, 120, 0.6);
$background1: "./Pic/jump1.png";
$background2: "./Pic/jump2.png";
$background3: "./Pic/hands.png";
$background4: "./Pic/end1.jpg";
$background5: "./Pic/end2.jpg";

* {
  font-family: "Noto Sans TC", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#clickable-bg,
#clickable-bg2 {
  /* 其他樣式屬性 */
  transition: background-image 0.9s ease-in-out;
}

@mixin background-image-transition($image-url, $image2-url) {
  background-image: url($image-url);
  min-height: 70vh;
  background-position: center;
  position: relative;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

  &:hover {
    cursor: pointer !important; /* 设置光标为手指指向图标 */
  }

  h2 {
    display: flex;
    font-size: 2.5rem;
    color: transparent;
    align-items: center;
    justify-content: center;
    min-height: 70vh;
    z-index: 5;
    font-family: "Josefin Slab", serif, Arial, sans-serif;
    transition: color 2s ease; // Add transition for color
  }

  // &:hover {
  //   background-image: url($image2-url);
  //   min-height: 70vh;
  //   background-position: center;
  //   position: relative;
  //   z-index: 0;
  //   background-size: contain;
  //   background-repeat: no-repeat;
  //   background-position: center;
  // }

  &:hover h2 {
    color: rgb(210, 125, 108);
  }

  transition: background-image 0.6s ease-in-out; // Add transition for background-image
}

/* 放大视图样式 */
.zoomed-view {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 半透明黑色背景 */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999; /* 确保放大视图位于顶层 */
  cursor: pointer;
  transition: opacity 0.5s ease-in-out; /* 添加过渡效果 */
  opacity: 0;
}

/* 放大后的图片样式 */
.zoomed-view img {
  max-width: 60%; /* 设置图片最大宽度为屏幕宽度的60% */
  max-height: 60vh; /* 设置图片最大高度 */
  object-fit: contain;
}

header {
  background-color: rgba(245, 229, 231, 0.9);
  display: flex;
  flex-wrap: wrap;

  section.logo {
    // border: 5px solid green;
    h1 {
      color: rgb(212, 149, 133);
      padding-left: 20px;
      padding-top: 0.5rem;
      // font-family: "Zhi Mang Xing", "Liu Jian Mao Cao", Arial, sans-serif;
      font-family: "Josefin Slab", serif, Arial, sans-serif; //(替代用字體)
      font-size: 1.8rem;
    }
  }

  nav {
    // border: 5px solid orange;
    flex: 5 1 500px;

    ul {
      padding-top: 0.8rem;
      display: flex;
      list-style-type: none;
      justify-content: flex-end;
      align-items: center;
      li {
        a {
          color: rgba(42, 38, 38, 0.5);
          padding-right: 2.5rem;
          text-decoration: none;
          font-size: 1rem;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}

main {
  position: relative;
  section.background-img1 {
    @include background-image-transition($background1, $background2);
    div.filter {
      padding: 200px;
      background-color: rgba(210, 150, 150, 0.3);
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: -1;
      transition: background-color 2s ease; // Add transition for background-color
    }
    div.handsImage {
      background-image: url($background3);
      width: 30vh;
      height: 30vh;
      background-size: contain; /* 長寬比 */
      background-repeat: no-repeat; /* 防止圖片重複 */
      background-position: center;
      align-items: center;
      justify-content: center;
      min-height: 20vh;
      top: 115%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 10;
      opacity: 0.4;
      position: absolute;
    }
  }
  section.background-img2 {
    padding-top: 50px;
    margin: 0px 80px;
    @include background-image-transition($background4, $background5);
    border-radius: 5%;
    background-position: center;
    div.image {
      max-width: 60vw;
      display: flex;
      align-items: center;
    }
  }

  /* 重新定義倒數計時的容器 */
  div.counter {
    max-width: 55vh;
    max-height: 35vh;
    padding-top: 3.8rem;
    padding-bottom: 3.8rem;
    margin: 0 auto; /* 水平置中對齊 */
    display: flex;
    flex-direction: column; // 确保倒计时文本和数字垂直排列
    align-items: center; // 在水平方向上居中对齐
    text-align: center; // 文本水平居中对齐
    background-color: rgb(231, 225, 225);
    margin-top: 8rem;
    margin-bottom: 5rem;
    border-radius: 3%;

    p.counterTitleText {
      margin: 0;
      padding: 2rem;
      font-size: 1.5rem; /* 设置文本大小 */
      font-family: "Josefin Slab", serif, Arial, sans-serif;
    }
    /* 样式整个倒计时区域容器 */
    div.countDownBlock {
      display: flex;
      justify-content: space-between; /* 等距分布四个区域 */

      padding: 10px; /* 添加内边距，根据需要调整 */
    }

    /* 样式倒计时元素 */
    div.countDownElement {
      display: flex;
      flex-direction: column; /* 纵向排列元素内部文本 */
      text-align: center; /* 文本居中对齐 */
      margin: 0; /* 重置外边距 */
      padding: 10px; /* 添加内边距，根据需要调整 */
      border: 1px solid #ccc; /* 左侧边框，除第一个元素外 */
    }

    /* 样式倒计时元素文本 */
    span.countDayText,
    span.countHourText,
    span.countMinText,
    span.countSecText {
      font-size: 1.2rem;
      color: #777;
    }

    /* 样式倒计时元素文本标签（days, hours, minutes, seconds） */
    span.labelDayText,
    span.labelHourText,
    span.labelMinText,
    span.labelSecText {
      font-size: 0.8rem; /* 设置标签文本大小 */
      color: #777; /* 设置标签文本颜色 */
      text-transform: uppercase; /* 将文本转换为大写 */
    }
  }

  section.aboutUs {
    background-color: rgb(232, 218, 210);

    justify-content: center; /* 水平居中对齐 */
    align-items: center; /* 垂直居中对齐 */

    h3 {
      padding-top: 60px;
      margin-bottom: 40px;
      text-align: center;
      justify-items: center;
      align-items: center;
    }
    h2 {
      margin-bottom: 30px;
      text-align: center;
      justify-items: center;
      align-items: center;
      font-size: 1.3rem;
    }
    div.coupleInfo {
      display: flex;
      align-items: center;
      justify-content: center;
      div.coupleImg {
        margin: 3rem;
        transition: all 0.8s ease;
        width: 150px;
        height: 150px;
        z-index: 0;
        background-size: contain; /* 使用contain属性，确保图像适应div并保持纵横比 */
        p {
          text-align: center;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }
      }
    }
  }

  section.aboutUsText {
    background-color: rgb(232, 218, 210);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    padding-top: 30px;
    text-align: center;
    color: rgb(102, 105, 108);
    min-height: 30vh;
    z-index: 5;
    p {
      font-size: 16px;
      padding: 50px;
      text-align: left;
      max-width: 600px;
    }
  }

  section.weddingInfo,
  section.weddingLink {
    display: grid;
    place-items: center;
    margin-top: 130px;
    margin-bottom: 80px;

    h3 {
      margin-bottom: 40px;
      text-align: center;
    }
    p {
      line-height: 2;
      font-size: 16px;
      padding: 50px;
      flex-direction: column;
    }

    #map {
      width: 80%;
      height: 450px; /* 设置地图的高度 */
    }
  }

  section.notice {
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 25px;
    min-height: 40vh;
    background-color: rgb(247, 232, 237);
    h3 {
      margin-bottom: 40px;
      text-align: center;
    }
    div.notice-main {
      flex-direction: column;
      display: flex;
      padding: 1rem;

      div.notice-text {
        padding: 1.5rem;
        flex-direction: row;
        text-align: center;
        align-items: center;
        justify-content: space-around;

        h4 {
          font-size: 1rem;
          text-align: center;
          padding-bottom: 1.5rem;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          i {
            padding-right: 10px;
          }
        }
        p {
          line-height: 2;
          font-size: 16px;
          padding-bottom: 50px;
          flex-direction: column;
        }
      }
    }
  }

  section.photos {
    overflow: hidden; /* 隐藏滚动条 */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
    background-color: rgba(238, 152, 152, 0.3);

    // border: 5px solid red;
    h3.titleText {
      display: flex;
      padding-top: 100px;
      margin-bottom: 100px;
      text-align: center;
      justify-items: center;
      align-items: center;
    }
    p {
      line-height: 2;
      font-size: 16px;
      padding-bottom: 50px;
      flex-direction: column;
    }
    div.swiper {
      width: 35vw;
      height: 50vh;
      display: flex;

      div.swiper-wrapper {
        max-height: 35vh;
        width: 50vw;

        div.swiper-slide {
          background-color: #fffefed3;
          width: 50vw; /* 设置外框宽度 */
          height: 40vh; /* 设置外框高度，使其与宽度保持一致 */
          border-radius: 20px;
          font-weight: bold;
          overflow: hidden; /* 隐藏超出外框的部分 */
          position: relative; /* 添加相对定位，用于放大图片 */
          flex-direction: column; /* 修改为垂直排列 */

          /* 设置固定高度，并允许垂直滚动 */

          // &:hover {
          //   opacity: 1; /* 懸停時取消淡出效果 */
          // }

          img {
            width: 100%; /* 图片宽度占满外框 */
            height: 100%; /* 图片高度占满外框 */
            align-items: center;
            justify-content: center;
            object-fit: cover; /* 根据外框比例填充图片，可能会裁剪部分图片 */
            object-position: center; /* 图片在外框中居中显示 */
          }
        }
      }
    }
  }

  section.justWhite {
    background-color: white;
    width: 100%;
    height: 200px;
    h3 {
      padding-top: 80px;
      margin-bottom: 40px;
      text-align: center;
    }
    p {
      text-align: center;
      line-height: 2;
      font-size: 16px;
      padding: 0px;
      flex-direction: column;
    }
  }

  @media screen and (max-width: 450px) {
    body {
      header {
        display: flex;

        section.logo {
          flex-direction: row;
          min-width: 50vw;
          img {
            flex-direction: row;
            width: 40vw;
            height: 40vw;
          }
        }
        nav {
          ul {
            align-items: center;
            justify-content: center;
            padding: 0rem;
            top: -75px;
            li {
              height: auto;
              align-items: center;
              font-size: 0.5rem;
              white-space: nowrap;
              a {
                text-decoration: none;
                font-size: 0.5rem;
              }
            }
          }
        }
      }

      section.background-img1 {
        position: relative;
        div.filter {
          max-height: 30vh;
        }
        h2 {
          display: flex;
          font-size: 0.8rem;
          color: rgb(59, 61, 63);
          align-items: center;
          justify-content: center;
          min-height: 70vh;
          margin-bottom: -10px;
          z-index: 5;
          font-family: "Josefin Slab", serif, Arial, sans-serif;
        }
        div.handsImage {
          background-image: url($background3);
          width: 20vh;
          height: 20vh;
          background-size: contain; /* 使用contain属性，确保图像适应div并保持纵横比 */
          background-repeat: no-repeat; /* 防止图像重复 */
          background-position: center;
          align-items: center;
          justify-content: center;
          min-height: 20vh;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          z-index: 10;
          opacity: 0.4;
          position: absolute;
        }
      }

      section.aboutUs {
        background-color: rgb(232, 218, 210);
        justify-content: center; /* 水平居中对齐 */
        align-items: center; /* 垂直居中对齐 */

        h3 {
          padding-top: 60px;
          margin-bottom: 40px;
          justify-items: center;
          align-items: center;
          font-size: 1rem;
        }
        div.coupleInfo {
          display: flex;
          align-items: center;
          justify-content: center;
          div.coupleImg {
            margin: 3rem;
            transition: all 0.8s ease;
            width: 150px;
            height: 150px;
            z-index: 0;
            background-size: contain; /* 使用contain属性，确保图像适应div并保持纵横比 */

            p {
              text-align: center;
            }

            img {
              width: 100%;
              height: 100%;
              object-fit: contain;
            }
          }
        }
      }

      section.aboutUsText {
        background-color: rgb(232, 218, 210);
        justify-items: center;
        padding: 40px;
        text-align: center; /* 文字框置中 */
        color: rgb(102, 105, 108);
        min-height: 30vh;
        z-index: 5;
        display: flex;
        flex-direction: column;
        align-items: center;
        p {
          font-size: 12px; /* 修改段落字体大小为14像素或根据需要调整 */
          padding: 40px;
          text-align: left;
          max-width: 600px;
        }
      }
      section.photos {
        flex-direction: column;
        display: flex;
        padding-bottom: 250px;
        background-color: rgba(238, 152, 152, 0.3);

        // border: 5px solid red;
        h3.titleText {
          display: flex;
          padding-top: 60px;
          margin-bottom: 100px;
        }
        div.swiper {
          width: 5vw;
          height: 50vh;
          display: flex;

          div.swiper-wrapper {
            min-height: 55vh;
            min-width: 50vw;

            div.swiper-slide {
              background-color: #fffefed3;
              width: 50vw; /* 设置外框宽度 */
              height: 40vh; /* 设置外框高度，使其与宽度保持一致 */
              border-radius: 20px;
              font-weight: bold;
              overflow: hidden; /* 隐藏超出外框的部分 */
              position: relative; /* 添加相对定位，用于放大图片 */

              /* 设置固定高度，并允许垂直滚动 */

              // &:hover {
              //   opacity: 1; /* 懸停時取消淡出效果 */
              // }
            }
          }
        }
      }
    }
  }

  @media screen and (min-width: 800px) {
    body {
      header {
        section.logo {
          flex-direction: column;
          min-width: 80vw;
          img {
            flex-direction: column;
            width: 80vw;
            height: 80vw;
          }
        }
        nav {
          font-size: 2.5rem;
          ul {
            flex-direction: row;
            align-items: center;
            justify-content: end;
            position: relative;
            top: -75px;
            li {
              height: 0.5rem;
              justify-content: end;
            }
          }
        }
      }
      main {
        section.background-img1 {
          background-size: contain; /* 使用contain属性，确保图像适应div并保持纵横比 */
          background-repeat: no-repeat; /* 防止图像重复 */
          background-position: center; /* 将图像居中 */
          max-height: 60vh;
          min-width: 60vh;
          position: relative;
          div.image {
            max-height: 60vh;
            min-width: 60vh;
            display: flex; /* 添加此样式 */
            justify-content: center; /* 添加此样式，使图像水平居中 */
            align-items: center; /* 添加此样式，使图像垂直居中 */
          }
          div.filter {
            background-color: rgba(166, 121, 121, 0.3);
            width: 100%;
            max-height: 60vh;
            position: absolute;
            top: 0;
            left: 0;
            z-index: -1;
          }
          h2 {
            display: flex;
            font-size: 3.5rem;
            color: rgb(102, 105, 108);
            align-items: center;
            justify-content: center;
            max-height: 60vh;
            z-index: 0;
            font-family: "Josefin Slab", serif, Arial, sans-serif;
          }
          div.handsImage {
            background-image: url($background3);
            width: 30%;
            height: 30%;
            display: flex;
            background-size: contain; /* 使用contain属性，确保图像适应div并保持纵横比 */
            background-repeat: no-repeat; /* 防止图像重复 */
            background-position: center;
            align-items: center;
            justify-content: center;
            min-height: 20vh;
            top: 600px;
            left: 35%;
            z-index: 10;
            position: absolute;
            opacity: 0.2;
          }
        }

        section.aboutUsText {
          background-color: rgb(232, 218, 210);
          padding-top: 30px;
          text-align: center; /* 文本居中对齐 */
          color: rgb(102, 105, 108);
          min-height: 40vh;
          z-index: 5;
          display: flex;
          flex-direction: column;
          justify-items: center;
          align-items: center;
          p {
            width: 80vw;
            font-size: 16px;
            padding: 10px;
            text-align: center;
          }
        }
        section.photos {
          padding: 500px;
          flex-wrap: wrap;
        }
        section.notice {
          display: block;
          flex-direction: row;
          padding-top: 25px;
          min-height: 40vh;
          background-color: rgb(247, 232, 237);
          h3 {
            margin-bottom: 40px;
            text-align: center;
          }
          div.notice-main {
            flex-direction: column;
            align-items: center;
            padding: 1rem;

            div.notice-text {
              padding: 1.5rem;
              flex-direction: column;
              text-align: center;
              justify-content: space-around;

              h4 {
                font-size: 0.8rem;
                text-align: center;
                padding-bottom: 1.5rem;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                i {
                  padding-right: 10px;
                }
              }
              p {
                line-height: 2;
                font-size: 11px;
                padding-bottom: 50px;
                flex-direction: column;
              }
            }
          }
        }
      }
    }
  }

  @media screen and (max-width: 380px) {
    body {
      header {
        section.logo {
          flex-direction: column;
          min-width: 80vw;
          img {
            flex-direction: column;
            width: 80vw;
            height: 80vw;
          }
        }
        nav {
          font-size: 2.5rem;
          display: flex;
          flex-direction: column;
          ul {
            flex-direction: column;
            align-items: center;
            justify-content: end;
            position: relative;
            top: -75px;
            display: flex;
            li {
              flex-direction: column;
              display: flex;
              flex-wrap: wrap;
              height: 0.5rem;
              justify-content: end;
              a {
                display: flex;
              }
            }
          }
        }
      }
    }
    main {
      div.counter {
        height: 500px;
      }
    }
  }
}
footer {
  section.filter2 {
    max-width: 100vw;

    div.pureColor {
      height: 150px;
      width: 100%;
      background-color: rgba(255, 255, 255, 0.3);
    }
  }
  section.endTag {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

button.scrollTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: rgba(190, 134, 134, 0.5);
  color: #eee2d4;
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  z-index: 950;

  &:hover {
    background-color: rgba(206, 74, 74, 0.7);
  }
}
